#root{
  min-height: 100vh;
}
.App{
  height: 100%;
}
.main{
  min-height:100%;
  max-width: 1440px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". content";
}
.wrapper{
  height: calc(100% - 80px);
  height: -o-calc(100% - 80px); /* opera */
  height: -webkit-calc(100% - 80px); /* google, safari */
  height: -moz-calc(100% - 80px); /* firefox */
}





