#root{
  min-height: 100vh;
}
.App{
  height: 100%;
}
.main{
  min-height:100%;
  max-width: 1440px;
}
.wrapper{
  height: calc(100% - 80px);
  height: -o-calc(100% - 80px); 
  height: -webkit-calc(100% - 80px);
  height: -moz-calc(100% - 80px);
}
.content{
  padding: 80px 0 0 300px;
}





